.full-page {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 68px;

    .page-logo {
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }

    .top-right-icon {
      width: 30px;
      height: 30px;
    }
  }
}
