.full-page {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 68px;

    .page-logo {
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }

    .top-right-icon {
      width: 30px;
      height: 30px;
    }
  }

  /* } */

  .profile-info {
    padding: 64px 16px;

    .profile-title {
      color: var(--Gray-900, #111827);

      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px; /* 111.111% */
    }

    .my-face {
      /* display: flex;
      align-items: center; */

      width: 240px;
      height: 280px;
      flex-shrink: 0;
      border: 8px solid var(--Gray-Default, #fff);
    }

    .project-status-container {
      margin-top: 30px;
      .project-status-wrapper {
        display: flex;
        gap: 10px;
        .location-icon,
        .greendot-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
