.full-page {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 68px;

    .page-logo {
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }

    .top-right-icon {
      width: 30px;
      height: 30px;
    }
  }

  .profile-info {
    padding: 64px 16px;

    .profile-title {
      margin-top: 48px;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }

    .my-face-picture {
      width: calc(100vw - 85px);
      display: flex;
      margin: 0 auto;
      padding: 24px;
      background-color: #ffffff;
      position: relative;

      .my-face {
        border: 12px solid white;
        width: calc(100% - 24px);
        height: auto;
        z-index: 5;
      }

      .my-face-background {
        position: absolute;
        background-color: lightgrey;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    .personal-resources {
      display: flex;
      gap: 12px;
      margin-top: 30px;

      .logo-redirect {
        width: 24px;
        height: 24px;
      }
    }

    .project-status-container {
      margin-top: 30px;
      .project-status-wrapper {
        display: flex;
        gap: 10px;
        .location-icon,
        .greendot-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .details {
    padding: 64px 16px;
    text-align: center;

    .about-me-oval {
      display: inline-block;
      border-radius: 12px;
      padding: 4px 20px;
      background: var(--Gray-200, #e5e7eb);
      margin-bottom: 24px;
    }

    .my-face-picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 360px;
      margin: 0 auto;

      .my-face {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .details-paragraph {
      color: var(--Gray-900, #111827);
      text-align: left;
      font-size: 24px;
      margin-top: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: -0.48px;
    }

    .details-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .details-text {
        text-align: left;
        color: var(--Gray-600, #4b5563);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      .skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        text-align: left;
        padding: 0 16px;
        margin: 0;
      }
    }
  }

  .skills-and-logos {
    padding: 64px 16px;

    .skills-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .skills-oval {
        display: inline-block;
        border-radius: 12px;
        padding: 4px 20px;
        background-color: #e5e7eb;
        margin-bottom: 24px;
      }
    }

    .achievements {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 24px;

      .logo-and-name-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-from-skills {
          height: 64px;
        }
      }
    }
  }

  .experience {
    padding: 64px 16px;

    .skills-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .experience-oval {
        display: inline-block;
        border-radius: 12px;
        padding: 4px 20px;
        background-color: #e5e7eb;
        margin-bottom: 24px;
      }
    }

    .experience-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .experience-element {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow:
          0px 4px 3px 0px rgba(0, 0, 0, 0.07),
          0px 2px 2px 0px rgba(0, 0, 0, 0.06);

        .upwork-logo {
          width: 40%;
          height: 28px;
          object-fit: cover;
        }

        .experience-role {
          color: #111827;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
        }

        .experience-list {
          margin-left: 0;
          padding-left: 0;
          list-style-type: none;
        }

        .experience-list li {
          position: relative;
          padding-left: 24px;
        }

        .experience-list li::before {
          content: '•';
          position: absolute;
          left: 0;
          color: black;
          font-size: 18px;
          line-height: 1.2;
        }
      }
    }
  }

  .portfolio-element {
    padding: 64px 16px;

    .skills-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 24px;

      .portfolio-oval {
        display: inline-block;
        border-radius: 12px;
        padding: 4px 20px;
        background-color: #e5e7eb;
        margin-bottom: 24px;
      }
    }

    .big-list-of-exp {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .element-of-list {
        display: flex;
        flex-direction: column;

        .image-example {
          background-color: #f9fafb;
          padding: 32px;
          border-radius: 12px 12px 0 0;
          border: 1px solid #f3f4f6;
          width: 100%;

          .fiskil-logo {
            /* border-radius: 30px; */
            object-fit: cover;
            width: 100%;
            height: 192px;
          }
        }

        .project-info {
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 32px;
          border-radius: 0 0 12px 12px;
          box-shadow:
            0px 4px 3px 0px rgba(0, 0, 0, 0.07),
            0px 2px 2px 0px rgba(0, 0, 0, 0.06);

          .project-name {
            color: #111827;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
          }

          .project-full-description {
            color: #4b5563;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }

          .project-used-tools {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .tools-row-wrapper {
              display: flex;
              gap: 8px;

              .tools-name {
                padding: 4px 20px;
                border-radius: 12px;
                background-color: #e5e7eb;
                color: #4b5563;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
              }
            }
          }

          .project-redirect {
            .redirect {
              padding: 6px;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  .testimonials-element {
    padding: 64px 16px;
    background-color: #f9fafb;

    .testimonials-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 24px;

      .testimonials-oval {
        display: inline-block;
        border-radius: 12px;
        padding: 4px 20px;
        background-color: #e5e7eb;
        margin-bottom: 24px;
      }
    }

    .reviews {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .single-review {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: #fff;
        border-radius: 12px;
        padding: 32px;
        box-shadow:
          0px 4px 3px 0px rgba(0, 0, 0, 0.07),
          0px 2px 2px 0px rgba(0, 0, 0, 0.06);

        .icon-wrapper {
          width: 64px;
          height: 64px;
          background-color: grey;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;

          .user-img {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 1;
          }
        }

        .person-text-review {
          color: #4b5563;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        .person-creds {
          .person-name {
            display: flex;
            justify-content: center;
            color: #111827;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
          }

          .person-role {
            display: flex;
            justify-content: center;
            color: #4b5563;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }
      }
    }
  }

  .contacts-element {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px 16px;

    .contacts-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 24px;

      .contacts-oval {
        display: inline-block;
        border-radius: 12px;
        padding: 4px 20px;
        background-color: #e5e7eb;
        margin-bottom: 24px;
      }

      .contacts-text {
        color: #4b5563;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .email-and-number-wrapper {
      .email-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .first-icon,
        .second-icon {
          /* width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center; */
          .front-icon,
          .back-icon {
            width: 24px;
            height: 24px;
          }
        }

        .credential {
          color: #111827;
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: -0.36px;
        }
      }
    }

    .redirect-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .redirect-text {
        display: flex;
        align-items: center;
        justify-content: center;

        color: #4b5563;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      .redirect-logos {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-redirect {
          padding: 6px;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .footer-element {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    background-color: #f9fafb;
    line-height: 20px;
    width: 100%;
    gap: 8px;
    font-size: 14px;

    .footer-logo {
      width: 16px;
      height: 16px;

      .copyright-logo {
        width: 100%;
        height: 100%;
      }
    }
  }
}
